<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trainingmanagesys.web.student.dao.StucourseMapper">

    <select id="listCourseByStuId" resultType="com.trainingmanagesys.web.course.entity.Course">
        select b.* from t_stucourse a, t_course b
        <where>
            a.student_id = #{studentId}
            and a.course_code = b.course_code
        </where>
    </select>

    <select id="listClazzByStuId" resultType="com.trainingmanagesys.web.clazz.entity.Clazz">
        select b.*, c.name, d.course_name from t_stucourse a, t_class b, t_user c, t_course d
        <where>
            a.student_id = #{studentId}
            and a.class_code = b.class_code
            and b.teacher_id = c.uid
            and b.course_code = d.course_code
        </where>
    </select>
</mapper>
